<div class="row mb-4">
  <div class="col-sm-8">
    <h3><%= @community.name %></h3>
  </div>
  <div class="col-sm-4 float-right">
    <div style="float:right">
      <% if @is_subscribed  %>
        <%= link_to "Create new post", new_community_post_path(@community), class: "btn btn-outline-primary"%>
      <% else %>
        <%= render partial: "communities/subscribe", locals: { community_id: @community.id } %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list", locals: { posts: @posts } %>
  </div>
  <div class="col-sm-4">
    <div class="card p-3">
      <h4>About this community</h4>
      <p class="mt-2"><%= @community.summary %></p>
      <p><%= pluralize  @subscriber_count, "Member" %></p>
      <small>
        <%= simple_format @community.rules %>
      </small>
     </div>
  </div>
</div>

