<!DOCTYPE html>
<html>
  <head>
    <title>James Code Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">
              <%= yield %>
          </div>
        </div>
      </div>
     </section>
    
    <%# <%= render partial: 'layouts/footer' %>
  </body>
</html>
